### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Basics
*.obj
*.o
build.stderr
build.stdout

# Logs
logs
*.log

# Libraries
boost
jdk

Debug
library/Debug
library/Win32/
library/x64/
library/libtreescan.vcxproj.user

.vs/

test/Win32/

batch_application/Win32/
batch_application/x64/
batch_application/treescan.vcxproj.user

java_application/jni_application/build
java_application/jni_application/dist
treescan.VC.db
*.opendb

installers/izpack/mac/treescan2app/TreeScan.app

test/test.vcxproj.user
installers/examples/*.txt
test/test-log.txt
test/test-results.xml
test/test-sets/multiple-trees/poisson.txt
test/test-sets/squish97/TreeTemporal-censordata.txt
test/test-sets/squish97/TreeTemporal-timeonly-censordata.txt
/java_application/updater_application/nbproject/private/
/java_application/updater_application/dist/
/java_application/updater_application/build/

installers/java/jre_x64
installers/java/jre_x86
/java_application/jni_application/nbproject/private/config.properties
/java_application/jni_application/nbproject/private/private.properties
/java_application/jni_application/nbproject/private/private.xml
/test/results.xml
/java_application/jni_application/nbproject/private/
